include setup.py
include pyproject.toml
include CMakeLists.txt
include LICENSE
include README.md
recursive-include app *
recursive-include cmake *
recursive-include libclingo-lpx *
recursive-include third_party *
include libpyclingo-lpx/*.c
include libpyclingo-lpx/CMakeLists.txt
recursive-include libpyclingo-lpx/clingolpx *.py *.typed
prune _skbuild
global-exclude *.py[cod]
