#!/usr/bin/make -f

export CLINGOLPX_BUILD_REVISION =

%:
	dh $@ --with python3

override_dh_auto_configure:
	dh_auto_configure -- \
	  -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	  -DCLINGOLPX_BUILD_REVISION=$(CLINGOLPX_BUILD_REVISION) \
	  -DCLINGOLPX_BUILD_TESTS=Off \
	  -DCLINGOLPX_MANAGE_RPATH=Off
