Source: clingo-lpx
Section: devel
Priority: optional
Maintainer: Roland Kaminski <kaminski@cs.uni-potsdam.de>
Build-Depends: debhelper-compat (= 11), cmake, libclingo-dev, libgmp-dev
Standards-Version: 4.4.1
Homepage: https://potassco.org/
Vcs-Browser: https://github.com/potassco/clingo-lpx
Vcs-Git: https://github.com/potassco/clingo-lpx.git

Package: clingo-lpx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libclingo, libgmp10
Description: A solver for logic programs with linear equations
 This package contains the executables.
